In [1]:
# 예시

# 반올림
print(round(45.678))
print(round(45.678,2))
print(round(45.678,3))

46
45.68
45.678

In [2]:
import math

In [3]:
# 소수 버림
print(math.trunc(45.678))

45

# Q1. 소수 3자리 버리는 방법은?

In [4]:
a = 45.678

#목표: 45.67

In [5]:
# 나쁜 시도는 아니지만 정답은 아닌 시도

# print(math.trunc(a,2))  # 이런 사용법이 없다.

In [6]:
# 관찰하기
# print(a*100)
# print(math.trunc(a*100))

In [7]:
# A1. 정답
print(math.trunc(a*100)/100)

45.67

In [8]:
# 덧.
# print(int(a))
# print(int(100*a))
# print(int(100*a)/100)

In [9]:
import random

In [10]:
print(random.random())  # float type이고 0이상 1미만의 수가 나온다.

0.9082888028091581

# Q2. random number가 1이상 4미만이 되도록 하는 방법은?

In [11]:
# 관찰하기1 : random number가 0이상 3미만이 되도록 하자!!

# random.random()+random.random()+random.random()
random.random()*3

2.421524651795866

In [12]:
# 관찰하기2 : random number가 1이상 2미만이 되도록 하자!!

random.random()+1

1.998265124025881

Idea:

0 ≤ x < 1

==> 1 ≤  ??? < 4

==> ??? = 3X+1

In [13]:
# A2.
print(1+3*random.random())

3.7441001382020915

#Q3. 올림픽 메달로 1등 국가 찾기
(A_Ranking) : 금은동 메달 총갯수의 합이 많으면 1등

(B_Ranking) : 금의 갯수가 많으면 은의 갯수의 상관 없이 1등, 같은 금의 갯수라면 은의 갯수로 비교하여 등수를 정함

(C_Ranking) : (B_Ranking)의 방법을 가중치를 이용한 점수로 등수 정하기

In [14]:
data ={
    'AAA':(1,0,10),
    'BBB':(3,1,8),
    'CCC':(3,5,2),
    'DDD':(2,20,1),
    'EEE':(2,20,3)
}

# Part1: pandas 이용하기

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(data)
df

   AAA  BBB  CCC  DDD  EEE
0    1    3    3    2    2
1    0    1    5   20   20
2   10    8    2    1    3

In [17]:
New_df = df.T
New_df.rename(columns = {0 : 'Gold', 1:'Silver', 2:'Bronze'}, inplace = True)
New_df

     Gold  Silver  Bronze
AAA     1       0      10
BBB     3       1       8
CCC     3       5       2
DDD     2      20       1
EEE     2      20       3

In [18]:
# (Part1: A_Ranking)

New_df['the_total_number_of_medals'] = New_df['Gold']+New_df['Silver']+New_df['Bronze']

Method_a_Ranking = New_df.sort_values(by=['the_total_number_of_medals'], ascending=False)

A_Ranking = Method_a_Ranking.index

print(f"1st : {A_Ranking[0]}")
print(f"2nd : {A_Ranking[1]}")
print(f"3rd : {A_Ranking[2]}")

1st : EEE
2nd : DDD
3rd : BBB

In [19]:
# (Part1: B_Ranking)

Method_b_Ranking = New_df.sort_values(by=['Gold', 'Silver','Bronze'], ascending=[False,False,False])

B_Ranking = Method_b_Ranking.index

print(f"1st : {B_Ranking[0]}")
print(f"2nd : {B_Ranking[1]}")
print(f"3rd : {B_Ranking[2]}")

1st : CCC
2nd : BBB
3rd : EEE

In [20]:
# (Part1: C_Ranking)

weighted_scores = [1000000000, 10000, 1]

New_df['the_weighted_total_score'] = (weighted_scores[0]*New_df['Gold']
                                       + weighted_scores[1]*New_df['Silver']
                                       + weighted_scores[2]*New_df['Bronze'])

Method_c_Ranking = New_df.sort_values(by=['the_weighted_total_score'], ascending=False)

C_Ranking = Method_c_Ranking.index

print(f"1st : {C_Ranking[0]}")
print(f"2nd : {C_Ranking[1]}")
print(f"3rd : {C_Ranking[2]}")

1st : CCC
2nd : BBB
3rd : EEE

# Part2: pandas 없이 코딩하기

In [21]:
data

{'AAA': (1, 0, 10),
 'BBB': (3, 1, 8),
 'CCC': (3, 5, 2),
 'DDD': (2, 20, 1),
 'EEE': (2, 20, 3)}

In [22]:
# (Part2: rankings_A)
rankings_A = sorted(data.keys(), key=lambda x: sum(data[x]), reverse=True)

print(f"1st : {rankings_A[0]}")
print(f"2nd : {rankings_A[1]}")
print(f"3rd : {rankings_A[2]}")

1st : EEE
2nd : DDD
3rd : BBB

In [23]:
# (Part2: rankings_B)
rankings_B = sorted(data.keys(), key=lambda x: (data[x][0], data[x][1], data[x][2]), reverse=True)

print(f"1st : {rankings_B[0]}")
print(f"2nd : {rankings_B[1]}")
print(f"3rd : {rankings_B[2]}")

1st : CCC
2nd : BBB
3rd : EEE

In [24]:
# (Part2: rankings_C)
weighted_scores = {k: data[k][0] * 10000 + data[k][1] * 100 + data[k][2] for k in data}
rankings_C = sorted(weighted_scores.keys(), key=lambda x: weighted_scores[x], reverse=True)

print(f"1st : {rankings_C[0]}")
print(f"2nd : {rankings_C[1]}")
print(f"3rd : {rankings_C[2]}")

1st : CCC
2nd : BBB
3rd : EEE